Repository Luuh621/-devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#2 V1.0 analise
  docs/requisitos.md
Labels: análise

#5 Integrar arquitetura v1.0
  docs/arquitetura.md
Labels: arquitetura

#7 V1.0 testes
  src/testes_inic.py
  src/testes_jogar.py
Labels: testes

#8 Gerar release v1.0
  docs/arquitetura.md
  docs/requisitos.md
  src/testes_inic.py
  src/testes_jogar.py
Labels: operacoes
